@media screen and (max-width: 430px){
    #about-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    #about-img {
        width: 200px;
        border-radius: 500px;
    }

    #bcv-brands {
        display: block;
        text-align: center;
    }

    #hero-section {
        justify-content: center;

    }

     #details-section{
        display: grid;
        grid-template-columns: 1fr;
    }

    #your-host {
        display:grid;
        grid-template-columns: 1fr;
        align-content: center;
        padding: 0px 15px;
    }

    #overlay-width {
        
        width: 300px;
        
    }
}

    @media screen and (min-width: 431px) and (max-width: 767px) {

        #about-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    #about-section > div:first-child {
    order: 2;
    }

    #about-section > div:last-child {
    order: 1;
    }

      #about-image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top ;
    }

    #bcv-brands {
        display: block;
        text-align: center;
    }

    #details-section{
        display: grid;
        grid-template-columns: 1fr;
    }

    #your-host {
        display:grid;
        grid-template-columns: 1fr;
        align-content: center;
        padding: 0px 15px;
    }

    #overlay-width {
        
        width: 300px;
        
    }
}



